<?xml version="1.0" encoding="UTF-8"?><entry xmlns="http://www.w3.org/2005/Atom" xmlns:app="http://www.w3.org/2007/app" xmlns:opt="http://www.hatena.ne.jp/info/xmlns#hatenablog"><title>{{ post.title }}</title><author><name>{{ post.name }}</name></author><content type="text/markdown">{{ post.content }}</content><updated>{{ post.updated.strftime("%Y-%m-%dT%H:%M:%S") }}</updated>{% for category in post.categories %}<category term="{{ category }}" />{% endfor %}<app:control><app:draft>{% if post.draft %}yes{% else %}no{% endif %}</app:draft></app:control><opt:custom-url>{{ post.custom_url }}</opt:custom-url></entry>